* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background: #222;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  header {
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 10;
    background: #222;
  }
}
.logo {
  font-weight: 800;
  transition: 0.4s;
  z-index: 4;
}
nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    padding: 15px;
    margin-left: 8px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
  }
}

.lin {
  position: relative;
  z-index: 4;
}
.logo:hover,
.others a:hover {
  transform: scale(1.1);
  letter-spacing: 2px;
}
section {
  padding: 150px 100px;
}
.jname {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  letter-spacing: 2px;
  z-index: 4;
  text-decoration: none;
  color: aliceblue;
}
.start {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 4px;
  }
  h4 {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 14px;
  }

  .icon {
    text-transform: capitalize;
    background: aliceblue;
    padding: 100px;
    color: #111;
    width: 100%;
    border-radius: 12px;
    height: 100%;
    z-index: 2;
    .rec {
      background-color: rgb(189, 88, 16);
      position: relative;
      width: 90px;
      height: 15px;
      margin-bottom: 10px;
    }
    .name {
      font-size: 2.4em;
      font-weight: 900;
      width: auto;
    }
    .job {
      font-size: 2em;
      font-weight: 600;
    }
  }
  .lak {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    left: -49px;
  }
  h2::first-letter,
  h4::first-letter {
    color: #111;
  }
}

.about {
  background: #000011;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro h5 {
  color: #fff;
  opacity: 0.7;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-left: 10px;
  z-index: 4;
}
.go {
  display: flex;
  width: auto;
  align-items: center;
  text-align: center;
}
.about img {
  transition: 0.4s;
  &:hover {
    transform: scale(1.2);
  }
}
#protfolio {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #000011;
  border-radius: 25px;
}
.fa {
  color: #fefefe;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

.project {
  width: 320px;
}
.p1,
.p2,
.p3 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}
.card {
  text-align: center;
  padding: 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  margin: 25px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: 0.5s;
  h3 {
    font-family: "Smooch Sans", sans-serif;
    font-optical-sizing: auto;
  }
  &:hover {
    transform: scale(1.1);
    opacity: 0.7;
    border-radius: 25px;
    .more {
      display: block;
    }
  }
  .more {
    text-decoration: none;
    color: #fefefe;
    padding: 5px;
    margin: 5px;
    border-radius: 6px;
    background: #333333;
    display: none;
    transition: 0.3s ease all;
    font-family: "Kode Mono", monospace;
  }
}
.crd1 {
  background: rgba(0, 153, 255, 0.664);
}
.crd2 {
  background: rgba(22, 122, 13, 0.842);
}
.crd3 {
  background: rgba(197, 7, 7, 0.705);
}
.crd4 {
  background: rgba(255, 68, 0, 0.596);
}
.crd5 {
  background: rgba(21, 255, 0, 0.623);
}
.crd6 {
  background: rgba(174, 0, 255, 0.74);
}
.crd7 {
  background: rgba(165, 255, 214, 0.76);
}
.crd8 {
  background: rgba(221, 183, 113, 0.788);
}
.crd9 {
  background: rgba(149, 151, 42, 0.747);
}
.crd10 {
  background: rgb(65, 201, 226);
}
.me {
  width: 320px;
  border-radius: 12px;
}
#contact h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
}
.words {
  h4 {
    font-size: 17px;
    padding: 10px;
    font-weight: 500;
    opacity: 0.7;
  }
  h3 {
    font-size: 25px;
    width: fit-content;
    font-weight: 700;
    padding: 5px;
    border: 2px solid grey;
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }
}

.line {
  width: 100px;
  height: 5px;
  background-color: firebrick;
}
#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  padding: 100px;
}
form {
  width: 50%;
  label {
    margin: 5px;
  }
}
input,
#message {
  margin: 5px;
  width: 100%;
  border-radius: 8px;
  height: 250px;
}

#name {
  height: 30px;
}
#email {
  height: 30px;
}
#submit {
  width: 40%;
  padding: 7px;
  border-radius: 15px;
}
.img {
  position: absolute;
  height: 10%;
  width: auto;
  z-index: 1;
}
.img1 {
  top: 5%;
  left: 5%;
  animation: circle1 30s linear infinite;
}
.img2 {
  top: 80%;
  left: 30%;
  animation: circle2 30s linear infinite;
}
.img5 {
  top: 5%;
  left: 70%;
  animation: circle5 70s linear infinite;
}
.img6 {
  left: 80%;
  top: 40%;
  animation: circle6 30s linear infinite;
}
.img7 {
  top: 80%;
  left: 60%;
  animation: circle7 50s linear infinite;
}

.pdfs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .pdf {
    width: 30%;
    height: 300px;
    margin: 15px;
  }
}

@keyframes circle1 {
  from {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
}
@keyframes circle2 {
  from {
    transform: rotate(360deg) translate(-30px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}
@keyframes circle5 {
  from {
    transform: rotate(360deg) translate(-80px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-80px) rotate(0deg);
  }
}
@keyframes circle6 {
  from {
    transform: rotate(-360deg) translate(-30px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-30px) rotate(0deg);
  }
}
@keyframes circle7 {
  from {
    transform: rotate(360deg) translate(-50px) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(-50px) rotate(0deg);
  }
}

@media screen and (max-width: 960px) {
  .container {
    box-sizing: border-box;
  }
  nav {
    gap: 30px;
  }
  nav a {
    font-size: 16px;
  }
  section {
    padding: 70px 30px;
  }
  .p1,
  .p2,
  .p3 {
    flex-wrap: wrap;
  }
  #contact {
    flex-wrap: wrap;
  }
  form {
    width: 100%;
  }
  .words {
    text-align: center;
    width: 100%;
  }
  .about {
    flex-wrap: wrap;
  }
  .icon {
    background: #ffffff49;
    padding: 50px;
    text-align: justify;
    font-stretch: extra-condensed;
    font-size: x-small;
  }
  .lak {
    display: none !important;
  }
  .img {
    display: none !important;
  }
  .start {
    background: url(./images/WhatsApp\ Image\ 2024-02-17\ at\ 10.06.59_251c8869.jpg)
      no-repeat 55% 20% fixed;
    background-size: 100%;
    padding: 150px 20px !important;
    flex-wrap: wrap;
  }
  .about img:hover {
    transform: scale(1);
  }
  .pdf {
    width: 100%;
  }
  .more {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .con-t {
    font-size: 20px !important;
    padding: 5px;
  }
  #contact {
    padding: 100px 20px;
  }
  .con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .card {
    width: 80%;
  }
  .project {
    width: 80%;
  }
  .jname {
    font-size: 20px;
  }
  .me {
    width: 90%;
  }
}
