* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", Arial;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background: #233;
}

canvas {
  width: 80%;
}
.container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.pop-up {
  display: flex;
  flex-direction: column;
  background: rgba(184, 136, 4, 0.808);
  width: 90%;
  height: 100%;
  border: 5px solid wheat;
  border-radius: 9px;
  align-items: center;
  justify-content: center;
}

label {
  text-align: center;
}

h1 {
  color: #fefefe;
  font-size: 22px;
  padding: 15px;
}

th,
td,
tr {
  padding: 10px;
}

.table {
  align-items: center;
  justify-content: center;
  /* display: flex; */
  padding: auto;
}

table {
  border-collapse: collapse;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.images img:hover,
td img:hover {
  border: 2px solid #fff;
  border-radius: 5px;
}

td {
  text-align: center;
  border-right: 5px solid black;
}

td:last-child {
  border-right: none;
}

td img {
  width: 90px;
  height: 90px;
  display: inline-block;
  margin: 5px;
  /* margin: 0 auto; */
  transform: scale(1.2);
}

.con {
  text-align: center;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #fff;
  font-size: xx-large;
  padding: 15px;
}

.done {
  margin-top: 120px;
  padding: 12px;
  text-decoration: none;
  color: #fff;
  background: #6ef011;
  border-radius: 9px;
}

input {
  padding: 12px;
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.images img {
  margin: 7px;
  border-radius: 12px;
}

.names {
  text-align: center;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

.g {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  margin: 10px;
}

.start {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.b {
  align-items: center;
  text-align: center;
}

button {
  color: #ebebeb;
  font-size: 15px;
  font-weight: 700;
  margin: 25px;
  padding: 8px;
  border: 3px solid #ebebeb;
  background: #966f05ce;
  transition: 0.4s;
}

button:hover {
  font-size: 18px;
  color: #966f05ce;
  background: #ebebeb;
  padding: 10px;
}

h4 {
  margin: 10px;
  color: #111;
  background: rgba(206, 18, 18, 0.884);
  padding: 10px;
  width: 100%;
  opacity: 0;
}

.pop-lang {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: #be8f0d;
  border: 5px solid #ebebeb;
  top: 10%;
  font-size: 10px;
  border-radius: 12px;
}

.btn-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.layer {
  position: absolute;
  background: #111;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 330vh;
}

@keyframes choose {
  0% {
    left: 30%;
  }

  25% {
    left: 27%;
  }

  50% {
    left: 33%;
  }

  75% {
    left: 27%;
  }

  100% {
    left: 30%;
  }
}
