* {
  box-sizing: border-box;
}

body {
  background: #022;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Press Start 2P", arial;
}

.container {
  position: relative;
  display: inline-block;
  /* width: 100%; */
}

.player {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  border: 5px solid white;
}

.score {
  color: #fefefe;
  font-size: 23px;
}

.comp {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.timeandhealth {
  /* position: relative; */
  display: flex;
  width: 80%;
  align-items: center;
  padding: 20px;
  justify-content: right;
}

.phealth {
  background-color: rgb(155, 25, 25);
  height: 30px;
  width: 100%;
}

#ol-heal {
  position: absolute;
  background: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

#timer {
  background-color: black;
  width: 100px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 5px solid white;
  font-family: "Press Start 2P", cursive;
  font-size: x-large;
}

.button {
  border-radius: 50%;
  background: #70726e8e;
  border: none;
  color: #fefe;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 2px;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.move {
  position: absolute;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.up {
  justify-content: center;
  align-items: center;
  display: flex;
}

.control {
  top: 50%;
}

.creator {
  position: absolute;
}
